/** @format */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Work+Sans:wght@100&display=swap");
#introheading {
  font-family: "League Spartan", sans-serif;
}
#ptext {
  /* font-family: "League Spartan", sans-serif; */
  font-weight: 100 !important;
}

.blue1 {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  top: 8rem;
  left: 7rem;
  z-index: -1;
}

.blue2 {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  top: 25rem;
  left: 4rem;
  z-index: -1;
}

.blue3 {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  top: 11rem;
  right: 7rem;
  z-index: -1;
}

.blue4 {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  top: 25rem;
  right: 7rem;
  z-index: -1;
}
