/** @format */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Work+Sans:wght@100&display=swap");

.partner {
  background-image: url("./assets/partner.png");
}

.cushead {
  font-family: "League Spartan", sans-serif;
}
/* pool */
.poolformbox {
  background-image: url("./assets/form.png");
}

/* create token */
.createTokenformbox {
  background-image: url("./assets/create_token_2.png");
}

/*  create toekn */
.createVlockformbox {
  background-image: url("./assets/create_vlock.png");
}

.Cardbg {
  /* background-color: url("./assets/card.png"); */
  background-image: url("./assets/card.png");
}

.GradientText {
  background: linear-gradient(89.27deg, #ffcb66 20%, #bc2fca 30%, #5a40fe 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* hero sections csss  */

.herobg {
  background-image: url("./assets/bg3.png");
}

#introheading {
  font-family: "League Spartan", sans-serif;
}
#ptext {
  /* font-family: "League Spartan", sans-serif; */
  font-weight: 100 !important;
}

.blue1 {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  top: 10rem;
  left: 7rem;
  z-index: -1;
}

.blue2 {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  top: 25rem;
  left: 4rem;
  z-index: -1;
}

.blue3 {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  top: 11rem;
  right: 7rem;
  z-index: -1;
}

.blue4 {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  top: 25rem;
  right: 7rem;
  z-index: -1;
}

/* ending hero sections csss  */
