/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  /* buttons */
  .btn {
    @apply text-white shadow-xl  bg-blue border-0  py-3 px-6 focus:outline-none  text-center    !important;
  }

  .whiteThemeLogo {
    @apply w-[180px];
  }
  .darkThemeLogo {
    @apply hidden w-[180px];
  }

  .lightImage {
    @apply inline object-cover object-center  !important;
  }
  .darkImage {
    @apply hidden object-cover object-center  !important;
  }

  .navlink {
    @apply text-navblue font-semibold;
  }
  .walletbutton {
    @apply md:flex items-center justify-center bg-lightBlue p-2 px-6 rounded-full shadow-lg !important;
  }
  .darkbtn {
    @apply text-red;
  }
  .lightbtn {
    @apply hidden;
  }

  /* topUpTrending */
  .topUpTrending {
    @apply overflow-hidden  flex  items-center  rounded w-[98%]  shadow-lg  mx-auto flex-col-reverse md:flex-row bg-lightBlue p-2;
  }
  .heroHeading {
    @apply text-[30px]  md:text-[60px] leading-snug  font-bold text-purple;
  }

  /* why section */
  .why {
    @apply mt-[-2rem] !important;
  }

  /* toptreding sectoin table */

  .tabelContainer {
    @apply bg-white2  shadow-md rounded-xl w-full p-4  overflow-auto;
  }

  .trendingParent {
    @apply mb-20  md:px-20 flex flex-col items-center justify-center;
  }

  /* news letter  */
  .subscribeBtn {
    @apply inline-flex text-white text-[16px] font-medium bg-blue border-0 py-2 px-6 focus:outline-none  rounded-full text-lg;
  }

  /* create token page header section */
  .headersection {
    @apply bg-lightBlue  mt-5;
  }

  /* inputs styling and labels */
  .InputStyle {
    @apply md:w-[30rem]  w-[20rem] p-2 rounded bg-inputcolor border-none;
  }

  .LabelStyle {
    @apply text-[20px] text-purple font-medium !important;
  }
  /* formbox bg */

  .createTokenformbox {
    @apply bg-cover border border-blue  shadow-lg  p-10 rounded-[30px];
  }

  /* pool details page */

  .tokenBox {
    @apply bg-lightBlue flex flex-row shadow-lg mb-5 md:w-full  w-full rounded-[10px] overflow-hidden;
  }

  .presalmenu {
    @apply flex text-white  w-[7rem] p-2 rounded-full bg-slati;
  }

  /* dark theme styling  */
  /* //////////////////////////////////// */
  /* //////////////////////////////////// */
  /* //////////////////////////////////// */
  /* //////////////////////////////////// */
  /* //////////////////////////////////// */
  /* //////////////////////////////////// */
  /* //////////////////////////////////// */
  /* theme change and nave */
  [data-theme="dark"] .navlink {
    @apply text-white font-semibold    !important;
  }
  [data-theme="dark"] .walletbutton {
    @apply md:flex items-center justify-center bg-slati p-2 px-6 rounded-full shadow-inner
      shadow-[cyan]
    !important;
  }

  [data-theme="dark"] .whiteThemeLogo {
    @apply w-[180px] hidden;
  }
  [data-theme="dark"] .darkThemeLogo {
    @apply inline w-[180px];
  }

  /* effective section  */

  /* partners section */
  [data-theme="dark"] .partner {
    background-image: url("./assets/darkeffective.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    width: 95%;
    margin: auto;
  }

  [data-theme="dark"] .partnershadow {
    @apply shadow-inner shadow-[cyan]    !important;
  }
  /* partner images */

  [data-theme="dark"] .partnerDark {
    @apply p-2  bg-[cyan] shadow-lg shadow-[cyan] rounded-lg     !important;
  }

  /* effecitet section */
  [data-theme="dark"] .effective {
    background-image: url("./assets/darkeffective.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    width: 95%;
    margin: auto;
  }

  [data-theme="dark"] .effectiveshadow {
    @apply shadow-inner shadow-[cyan]    !important;
  }
  [data-theme="dark"] .darkImage {
    @apply inline object-cover object-center   !important;
  }

  [data-theme="dark"] .lightImg {
    @apply hidden !important;
  }
  /* topuptrending */
  [data-theme="dark"] .topUpTrending {
    @apply overflow-hidden  flex  items-center  rounded-[10px] w-[98%]  shadow-inner shadow-[cyan] mx-auto flex-col-reverse md:flex-row bg-slati p-2;
  }

  [data-theme="dark"] span {
    @apply text-white;
  }
  [data-theme="dark"] .darkbtn {
    @apply text-blue hidden;
  }
  [data-theme="dark"] .lightbtn {
    @apply inline;
  }
  /* hero */
  [data-theme="dark"] .heroHeading {
    @apply text-[30px]  md:text-[60px] leading-snug  font-bold text-white;
  }

  [data-theme="dark"] .btn {
    @apply text-white   bg-slati shadow-[cyan] shadow-inner border-0  py-3 px-6 focus:outline-none  text-center    !important;
  }

  [data-theme="dark"] .herobggif {
    background-image: url("./assets/herobg2.gif");
    background-repeat: no-repeat;
  }
  [data-theme="dark"] .addShadow {
    @apply bg-cover   shadow-[darkcyan] shadow-lg;
  }

  [data-theme="dark"] .home {
    @apply bg-slati !important;
  }

  [data-theme="dark"] .textindark {
    @apply text-white;
  }

  /* why section */
  [data-theme="dark"] .why {
    @apply mt-[2rem] !important;
  }

  /* toptreding sectoin table */

  [data-theme="dark"] .tendingbg {
    background-image: url("./assets/herobg2.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px 50px 0px 0px;
    /* width: 95%; */
    /* margin: auto; */
  }

  [data-theme="dark"] .trendingParent {
    @apply mb-20  md:px-20 flex flex-col items-center justify-center;
  }

  [data-theme="dark"] .tabelContainer {
    @apply bg-slati  shadow-inner shadow-[darkcyan] rounded-xl w-full p-4  overflow-auto;
  }

  [data-theme="dark"] th {
    color: white;
    font-weight: 100;
  }
  [data-theme="dark"] td {
    color: white;
    font-weight: 400;
  }

  /* newsletter */
  [data-theme="dark"] .newsletter {
    /* background-image: url("./assets/bgnews.png"); */
    background: #171717;
  }

  .subscribeBtn {
    @apply inline-flex text-white text-[16px] font-medium bg-slati border-0 py-2 px-6 focus:outline-none  rounded-full text-lg;
  }
  /* create token page  */
  [data-theme="dark"] .createtoken {
    @apply bg-slati;
  }

  [data-theme="dark"] .headersection {
    @apply mt-5;
  }

  /* presale page */
  [data-theme="dark"] .preslae {
    @apply bg-slati;
  }
  /* vlock page */

  [data-theme="dark"] .saving {
    @apply bg-slati;
  }

  /* inputs styling and labels */
  [data-theme="dark"] .InputStyle {
    @apply md:w-[30rem]  w-[20rem] p-2 rounded bg-slati border-none shadow-inner shadow-[cyan];
  }

  [data-theme="dark"] .LabelStyle {
    @apply text-[20px] text-white font-medium !important;
  }
  /* formbox bg */

  [data-theme="dark"] .createTokenformbox {
    @apply bg-cover   shadow-inner shadow-[cyan]  p-10 rounded-[30px];
  }

  /* pool details page */

  [data-theme="dark"] .poolDetails {
    @apply bg-slati;
  }

  [data-theme="dark"] .tokenBox {
    @apply bg-slati flex flex-row shadow-inner shadow-[cyan] mb-5 md:w-full  w-full rounded-[10px] overflow-hidden;
  }

  [data-theme="dark"] .presalmenu {
    @apply flex text-white  w-[7rem] p-2 rounded-full bg-slati shadow-inner shadow-[cyan];
  }
  /* presale cards */
  [data-theme="dark"] .Cardbg {
    /* background-color: url("./assets/card.png"); */
    /* background-image: url("./assets/card.png"); */
  }
}
