/** @format */

#tending {
  background-image: url("../../assets/trending.png");
}

.tabel {
  width: 100%;
  text-align: center;
}
th {
  color: gray;
  font-weight: 100;
}
td {
  color: #130f49;
  font-weight: 400;
}
